@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://www.loliapi.com/acg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 1.5
}

h1 {
    font-weight: 700
}

p,
a {
    font-size: 1.6rem
}

a {
    text-decoration: none
}

a:hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.section-title {
    margin-bottom: 4.5rem;
    font-size: 4rem;
    text-transform: uppercase
}

@media (max-width: 37.5em) {
    .section-title {
        font-size: 2.8rem
    }
}

.dark-blue-color {
    color: #3c3c3d
}

.text-color-main {
    margin-left: 1rem;
    color: #34ebcc;
    -webkit-text-fill-color: #34ebcc;
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
    .text-color-main {
        background-image: linear-gradient(135deg, #df2828 0%, #34ebcc 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent
    }
}

@media (max-width: 37.5em) {
    .text-color-main {
        margin: 0;
        background-image: none;
        -webkit-text-fill-color: #34ebcc;
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

.cta-btn {
    display: inline-block;
    position: relative;
    padding: 0.8rem 1.6rem;
    font-weight: bold;
    line-height: 1;
    z-index: 1;
    overflow: hidden;
    border-radius: 3px;
    -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s
}

.cta-btn:hover {
    -webkit-box-shadow: 1.5px 1.5px 3px rgba(174, 174, 192, 0.4), -1px -1px 3px #fff;
    box-shadow: 1.5px 1.5px 3px rgba(174, 174, 192, 0.4), -1px -1px 3px #fff
}

@media (max-width: 37.5em) {
    .cta-btn:hover {
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

.cta-btn::after {
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(135deg, #3b3b3b 0%, #9e9e9e 100%);
    width: 0px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s
}

@media (max-width: 37.5em) {
    .cta-btn::after {
        width: 0;
        height: 0;
        background-image: none
    }
}

.cta-btn--hero {
    color: #9e9e9e;
    -webkit-text-fill-color: #9e9e9e;
    border: 2px solid transparent;
    -o-border-image: linear-gradient(135deg, #3b3b3b 0%, #9e9e9e 100%);
    border-image: linear-gradient(135deg, #3b3b3b 0%, #9e9e9e 100%);
    border-image-slice: 1
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
    .cta-btn--hero {
        background-image: linear-gradient(135deg, #3b3b3b 0%, #9e9e9e 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent
    }
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .cta-btn--hero {
        color: #9e9e9e
    }

    .cta-btn--hero:hover {
        color: #fff
    }
}

@media (max-width: 37.5em) {
    .cta-btn--hero {
        background-image: none;
        border: 2px solid #9e9e9e;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-text-fill-color: #9e9e9e
    }
}

.cta-btn--hero::after {
    height: 410%;
    width: 150%;
    -webkit-transform: translate(-98%, -25%) rotate(45deg);
    transform: translate(-98%, -25%) rotate(45deg)
}

.cta-btn--hero:hover {
    -webkit-text-fill-color: #fff;
    text-decoration: none
}

@media (max-width: 37.5em) {
    .cta-btn--hero:hover {
        -webkit-text-fill-color: #9e9e9e
    }
}

.cta-btn--hero:hover::after {
    -webkit-transform: translate(-9%, -25%) rotate(45deg);
    transform: translate(-9%, -25%) rotate(45deg)
}

.cta-btn--resume {
    border-radius: 0;
    color: #fff;
    border: 2px solid #fff
}

.cta-btn--resume::after {
    background: #fff
}

.cta-btn--resume:hover {
    color: #9e9e9e;
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

@media (max-width: 37.5em) {
    .cta-btn--resume:hover {
        color: #fff
    }
}

.cta-btn--resume:hover::after {
    width: 100%
}

.cta-btn--projects {
    color: #9e9e9e;
    -webkit-text-fill-color: #9e9e9e;
    border: 2px solid transparent;
    -o-border-image: linear-gradient(135deg, #3b3b3b 0%, #9e9e9e 100%);
    border-image: linear-gradient(135deg, #3b3b3b 0%, #9e9e9e 100%);
    border-image-slice: 1
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
    .cta-btn--projects {
        background-image: linear-gradient(135deg, #3b3b3b 0%, #9e9e9e 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent
    }
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .cta-btn--projects {
        color: #9e9e9e
    }

    .cta-btn--projects:hover {
        color: #fff
    }
}

@media (max-width: 37.5em) {
    .cta-btn--projects {
        background-image: none;
        border: 2px solid #9e9e9e;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-text-fill-color: #9e9e9e
    }
}

.cta-btn--projects:hover {
    -webkit-text-fill-color: #fff;
    text-decoration: none
}

@media (max-width: 37.5em) {
    .cta-btn--projects:hover {
        -webkit-text-fill-color: #9e9e9e
    }
}

.cta-btn--projects:hover::after {
    width: 100%
}
.project-wrapper__text-subtitle {
    font-size: 1.5rem; /* Adjust the font size as needed */
    color: #6c757d;    /* A subtle gray color */
    margin-top: 0.5rem; /* Add spacing above the subtitle */
    font-weight: 400;  /* Make it less bold */
}
.footer {
    background-color: #00000000;
    padding: 4.8rem 0
}

.footer__text {
    font-size: 1.3rem;
    color: gray
}

.footer__text a {
    font-size: 1.3rem;
    color: gray;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block
}

.footer__text a:hover,
.footer__text a:active {
    color: #3b3b3b
}

.footer hr {
    margin: 1rem auto;
    border: 0;
    width: 50%;
    border-top: 2px solid rgba(255, 255, 255, 0.1)
}

.social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.social-links a {
    font-size: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    width: 5rem;
    height: 5rem;
    margin: 1.6rem 1.6rem;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s
}

.social-links a:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
}

.social-links a:hover .fa-twitter {
    color: #00acee
}

.social-links a:hover .fa-linkedin {
    color: #4875b4
}

.back-to-top i {
    color: #fff;
    margin: 1rem 0 1.6rem;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease
}

.back-to-top i:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
}

section {
    padding: 5rem 0rem
}

@media (max-width: 37.5em) {
    section {
        border: none;
        padding-left: 1rem;
        padding-right: 1rem
    }
}

section .row {
    display: -ms-grid;
    display: grid;
    gap: 2rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    padding: 0 1.5rem
}

@media (max-width: 56.25em) {
    section .row {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto
    }
}

@media (max-width: 37.5em) {
    section .row {
        padding: 0
    }
}

section .row p+p {
    margin-top: 1rem
}

section .row span {
    margin-top: 2rem
}

.container {
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1140px
}

.quote-container {
    bottom: 0;
    text-align: right;
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1140px
}

@media (max-width: 75em) {
    .container {
        max-width: 960px;
        width: 100%
    }

    .quote-container {
        max-width: 960px;
        width: 100%
    }
}

@media (max-width: 56.25em) {
    .container {
        max-width: 720px;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .quote-container {
        max-width: 720px;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media (max-width: 48em) {
    .container {
        max-width: 720px;
        width: 100%
    }

    .quote-container {
        max-width: 720px;
        width: 100%
    }
}

@media (max-width: 37.5em) {
    .container {
        max-width: 540px;
        width: 100%
    }

    .quote-container {
        max-width: 540px;
        width: 100%
    }
}

#about {
    padding-top: 80px;
    background-color: #00000000;
    color: #fff;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    padding-bottom: 20%
}

.about-language {
    width: 50px;
    border-radius: 2px;
    margin-left: 10px;
}

.image-language {
    width: 40px;
    background-color: #fff;
    /* padding-right: 5px; */
    border-radius: 100px;
    border: 3px solid #fff;
}

@media (max-width: 75em) {
    #about {
        height: 100%;
        -webkit-clip-path: none;
        clip-path: none
    }
}

#about .about-wrapper {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr
}

@media (max-width: 37.5em) {
    #about .about-wrapper {
        padding-bottom: 5rem;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr
    }
}

#about .about-wrapper__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#about .about-wrapper__image img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px !important;
    -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1)
}

@media (max-width: 75em) {
    #about .about-wrapper__image {
        height: 100%
    }
}

@media (max-width: 48em) {
    #about .about-wrapper__image {
        padding-bottom: 4rem
    }
}

#about .about-wrapper__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left
}

@media (max-width: 48em) {
    #about .about-wrapper__info {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center
    }
}

#contact {
    background-image: linear-gradient(135deg, #3b3b3b 0%, #9e9e9e 100%);
    -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
    padding: 15rem 0 10rem 0;
    margin-top: -15rem;
    margin-bottom: -1px;
    color: #fff
}

@media (max-width: 75em) {
    #contact {
        padding: 10rem 0;
        margin-top: 0;
        -webkit-clip-path: none;
        clip-path: none
    }
}

#contact .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

#contact .contact-wrapper__text {
    margin-bottom: 2.5rem
}

#contact .contact-wrapper__text,
#contact .contact-wrapper a {
    font-size: 2.4rem
}

@media (max-width: 37.5em) {

    #contact .contact-wrapper__text,
    #contact .contact-wrapper a {
        font-size: 2rem
    }
}

#hero {
    min-height: 100vh;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    font-weight: 400;
    color: #3c3c3d;
    padding: 0rem 5.6rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    line-height: 1.2;
    -webkit-animation: hidden 1000ms linear forwards;
    animation: hidden 1000ms linear forwards
}

#hero .container,
.quote-container {
    position: absolute;
}

@media (max-width: 56.25em) {
    #hero {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media (max-width: 37.5em) {
    #hero {
        padding: 0rem 1.6rem
    }
}

#hero .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left
}

#quote {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: center;
}

#hero .hero-title span {
    margin: 0;
    display: inline-block
}

@media (max-width: 37.5em) {
    #hero .hero-title .typed {
        font-size: 2.2rem;
    }
}

@media (max-width: 75em) {
    #hero .hero-title {
        font-size: 4rem
    }

    #quote {
        font-size: 2rem
    }
}

@media (max-width: 56.25em) {
    #hero .hero-title {
        font-size: 3.6rem;
        text-align: center
    }

    #quote {
        font-size: 1.6rem;
    }
}

@media (max-width: 37.5em) {
    #hero .hero-title {
        font-size: 3.5rem;
        line-height: 1.5
    }

    #quote {
        font-size: 1rem;
        line-height: 1.5
    }
}

@media (max-width: 20em) {
    #hero .hero-title {
        font-size: 2.8rem
    }

    #quote {
        font-size: 1rem
    }
}

#hero .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (max-width: 56.25em) {
    #hero .hero-cta {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

#hero .hero-cta a {
    font-size: 2.4rem
}

@media (max-width: 37.5em) {
    #hero .hero-cta a {
        font-size: 2rem
    }
}

.scroll-down-link {
    position: absolute;
    left: 50%;
    bottom: 20px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid #000000;
    border-radius: 50px;
    cursor: pointer
}

.scroll-down::before,
.scroll-down::after {
    height: 10px;
    width: 10px;
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid #9e9e9e;
    -webkit-transform: translate(-50%, -100%) rotate(45deg);
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: none;
    border-left: none;
    -webkit-animation: scroll-down 1s ease-in-out infinite;
    animation: scroll-down 1s ease-in-out infinite
}

.scroll-down::after {
    top: 30%;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s
}

@-webkit-keyframes hidden {
    0% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes hidden {
    0% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes scroll-down {
    0% {
        opacity: 0
    }

    30% {
        opacity: 1
    }

    60% {
        opacity: 1
    }

    100% {
        opacity: 0;
        top: 90%
    }
}

@keyframes scroll-down {
    0% {
        opacity: 0
    }

    30% {
        opacity: 1
    }

    60% {
        opacity: 1
    }

    100% {
        opacity: 0;
        top: 90%
    }
}

#projects {
    background-color: #fff;
    color: #3c3c3d;
    margin-top: -15rem;
    padding-top: 15rem
}

@media (max-width: 75em) {
    #projects {
        margin-top: 0;
        padding-top: 5rem
    }
}

@media (max-width: 37.5em) {
    #projects {
        padding-bottom: 1px
    }
}

#projects .project-wrapper {
    margin-bottom: 15rem
}

@media (max-width: 37.5em) {
    #projects .project-wrapper {
        margin-bottom: 0rem
    }
}

#projects .project-wrapper .row {
    margin: 0;
    margin-bottom: 8rem
}

@media (max-width: 37.5em) {
    #projects .project-wrapper .row {
        margin-bottom: 4rem
    }
}

#projects .project-wrapper__text {
    width: 100%;
    text-align: left
}

@media (max-width: 75em) {
    #projects .project-wrapper__text {
        margin-bottom: 4.8rem
    }
}

@media (max-width: 37.5em) {
    #projects .project-wrapper__text {
        margin-bottom: 2.5rem
    }
}

#projects .project-wrapper__text-title {
    font-weight: bold;
    margin-bottom: 1.8rem;
    font-size: 2.5rem
}

@media (max-width: 37.5em) {
    #projects .project-wrapper__text-title {
        font-size: 2rem
    }
}

#projects .project-wrapper__text-info {
    margin-bottom: 1.5rem
}

#projects .project-wrapper__text-btns {
    width: 100%;
    gap: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

#projects .project-wrapper__image {
    width: 90%;
    margin: 0 auto
}

@media (max-width: 75em) {
    #projects .project-wrapper__image {
        width: 100%;
        margin: 0
    }
}

#projects .project-wrapper__image .thumbnail {
    border: none
}

#projects .project-wrapper__image .thumbnail .img-fluid {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 10px
}

@media (max-width: 37.5em) {
    #projects .project-wrapper__image .thumbnail {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #d2d2d2;
        margin-bottom: 3.2rem;
        -webkit-transform: none;
        transform: none
    }
}

@media (max-width: 37.5em) {
    #about .about-wrapper__cta .break-hidden:before {
        content: "\A \A";
        white-space: pre;
    }
}
